<app-navbar></app-navbar>


 
  <div class="container-fluid logos">
    <h3>TAW 1.0 / Startups & Founders</h3>
    <h2>Startups & Founders</h2>
    <ul class="nav nav-tabs justify-content-center " id="myTab" role="tablist">
      <li class="nav-item justify-content-center" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="a"
          role="tab" aria-controls="home" aria-selected="true"> <img src="assets\img\startups\senair.png"
            class="img-dig" alt=""></a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="a"
          role="tab" aria-controls="profile" aria-selected="false"> <img src="assets\img\startups\cowzy.png"
            class="img-dig" alt=""> </a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile1" type="a"
          role="tab" aria-controls="profile1" aria-selected="false"><img src="assets\img\startups\mondoudou.png"
            class="img-dig" alt=""></a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile2" type="a"
          role="tab" aria-controls="profile2" aria-selected="false"><img src="assets\img\startups\eforage.png"
            class="img-dig" alt=""></a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile3" type="a"
          role="tab" aria-controls="profile3" aria-selected="false"><img src="assets\img\startups\ujana.png"
            class="img-dig" alt=""></a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile4" type="a"
          role="tab" aria-controls="profile4" aria-selected="false"> <img src="assets\img\startups\plateai.png"
            class="img-dig" alt="">
        </a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile5" type="a"
          role="tab" aria-controls="profile5" aria-selected="false"> <img src="assets\img\startups\tenaseb.png"
            class="img-dig" alt="">
        </a>
      </li>
      <li class="nav-item  justify-content-center" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile6" type="a"
          role="tab" aria-controls="profile6" aria-selected="false"> <img src="assets\img\startups\makoyamoms.png"
            class="img-dig" alt="">
        </a>
      </li>
    </ul>
  </div>
  <div class="container ">


    <div class="section-title ">

      

      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              An application linked to an air purifier made fully in senegal that offers you clean air by eliminating
              bad
              particles in 30 minutes.
            </p>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
               
                <div class="parent">
                  <img class="img-team" src="assets\img\Particpants\Hafsatou .JPG" />
                  <img class="image2" src="assets\img\country\Senegal.png" />
                </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Hafsatou Badiane, 22 years old</p>
                <p class="startup">Senair</p>
                <p class="description">Hafsatou Badiane is a partner and business developer at Noppal Tech. She is
                  responsible
                  for managing the fnances and the commercial development of the company. She is
                  pursuing her master's degree in fnance and accounting at Polytechnic School of Dakar.</p>
              </div>
          
            </div>
          </div>

        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              An application dedicated to the breeders of cows. It servers to optimize the quality of milk and Beef
              from improving
              the nutrition and health status of cows. </p>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
                
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Ons.JPG" />
                      <img class="image2" src="assets\img\country\tunisia.png" />
                    </div>
              </div>

              <div class="col-lg-7 col-12 info">
                <p class="name">Ons Oueslati, 21 years old</p>
                <p class="startup">Cowzy</p>
                <p class="description">Ons Oueslati is a second year student specializing in systems and network engineering and the co-founder of Govinda.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="profile1" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              Platform capable of grouping all data related to mothers and children, filtering the establishments
              according to
              users preferences and offering recommendation based on web analysis </p>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
                <div class="parent">
                  <img class="img-team" src="assets\img\Particpants\Raouia.JPG" />
                  <img class="image2" src="assets\img\country\tunisia.png" />
                </div>
              </div>
              
              <div class="col-lg-7 col-12 info">
                <p class="name">Raouia Ayachi, 37 years old</p>
                <p class="startup">Mondoudou</p>
                <p class="description">Raouia Ayachi is an associate professor in Business Computing, University of
                  Tunis and a
                  member of Larodec laboratory at ISG Tunis. She is specialized in Artificial Intelligence,
                  Deep Learning, Recommendations Systems and Data uncertainty.</p>
              </div>
              <div class="col-lg-3	col-12">
                <div class="parent">
                  <img class="img-team" src="assets\img\Particpants\Chaima Laroussi.jpg" />
                  <img class="image2" src="assets\img\country\tunisia.png" />
                </div>
              </div>
             
              <div class="col-lg-7 col-12 info">
                <p class="name">Chaima Laroussi, 27 years old</p>
                <p class="startup">Mondoudou</p>
                <p class="description">Chaima Laroussi is a doctoral student at ISG Tunis in
                  Computer Science as well as a member of Larodec, a computing laboratory at ISG Tunis.
                  She earned her master's degree in Business computing under Raouia's supervision, where she gained
                  valuable
                  experience in Recommendation Systems and Artificial Intelligence techniques, particularly Deep
                  Learning. </p>
              </div>
             
            </div>
          </div>

        </div>
        <div class="tab-pane" id="profile2" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              Specialized in the construction/rehabilitation of hydraulic structures and the provision of services
              with technology
              to facilitate access to drinking water and relaunch off-season agriculture. </p>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
                
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Laila.JPG" />
                      <img class="image2" src="assets\img\country\Senegal.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Laila Sagnane, 22 years old</p>
                <p class="startup">Eforage</p>
                <p class="description">Laila Sagnane is a geological engineer and the founder of Hydro Tech Services.
                  She is
                  passionate about geology which she discovered in college. She got an engineering degree in
                  geosciences at the
                  department of sciences of the University Cheikh Anta Diop of Dakar. </p>
              </div>
          
            </div>
          </div>

        </div>
        <div class="tab-pane" id="profile3" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              UJANA is an E-commerce platform for Sexual-Reproductive health supplies where youths can purchase
              products and
              receive sexual-reproductive health information without incurring the fear of judgment, stigma and
              discrimination
              while seeking for a safe sexual life. </p>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
              
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Juliana.JPG" />
                      <img class="image2" src="assets\img\country\Tanzania.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Juliana Busasi, 27 years old</p>
                <p class="startup">Ujana</p>
                <p class="description">Juliana Busasi is Founder and Team Lead,Medical Doctor with 7 years experience
                  in public
                  health activism and entrepreneurship.</p>
              </div>
    
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile4" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              PlateAI is going to add value to the lives of people living with dietary ailments; at risk of getting
              dietary
              ailments; and those wishing to stick to healthy eating. By leveraging the power of artificial
              intelligence we will
              be able to plan thousands of healthy food options to align with their health goals. We will not only
              plan, but
              prepare healthy meals and serve clients to their doorsteps. This can be done at the cost of a small
              monthly fee
              which is affordable to anyone. This is what PlateAI is introducing to the public, a solution like never
              before. <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
          
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Janeth Kareen .JPG" />
                      <img class="image2" src="assets\img\country\Tanzania.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Janeth Karen Kistovi, 23 years old</p>
                <p class="startup">PlateAI</p>
                <p class="description">Janethkareen Kistovi is the CEO of PlateAI and a recent graduate of Industrial
                  Engineering.
                  She has a passion for promoting healthy nutrition.She worked as a kitchen manager at
                  university where PlateAI frst started conducting manual planning before concentrating on
                  utilizing machine learning and AI to assist plan meals.</p>
              </div>
              <div class="col-lg-3	col-12">
               
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Noela Peter Arbogast.jpeg" />
                      <img class="image2" src="assets\img\country\Tanzania.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Noela Arbogast, 23 years old</p>
                <p class="startup">PlateAI</p>
                <p class="description">Noela Arbogast pursued a botanical science degree and has an experience with
                  creating
                  meal supplements. Thanks to her entrepreneurial mindset, she joined PlateAI and current-
                  ly is collaborating with meal planners.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile5" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <h1 class="app">
              We will provide an education about SRH (Sexual and Reproductive Health and Research) through social
              media and
              provide consultation for women through mobile App and voice call. </h1>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-3 ">
              
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Zemare.JPG" />
                      <img class="image2" src="assets\img\country\Ethiopia.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Zimare Tadesse, 30 years old</p>
                <p class="startup">Tenaseb</p>
                <p class="description">Zimare Tadesse is the Founder and CEO of TenaSeb. She is a medical doctor by
                  profession and
                  Public Health Specialist. </p>
              </div>
              <div class="col-lg-3	col-12">
              
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Lidya Daniel.jpg"  />
                      <img class="image2" src="assets\img\country\Ethiopia.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Lidya Daniel, 25 years old</p>
                <p class="startup">Tenaseb</p>
                <p class="description">Lidya Daniel is the Technology officer in Tenaseb. She is an IS officer by
                  profession and
                  has a bachelor degree in Computer Science and masters in Software engineering. </p>
              </div>
              <div class="col-lg-3	col-12">
             
                    <div class="parent">
                      <img class="img-team" src="assets\img\Particpants\Helina Abere.jpg" />
                      <img class="image2" src="assets\img\country\Ethiopia.png" />
                    </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Helina Abere, 28 years old</p>
                <p class="startup">Tenaseb</p>
                <p class="description">Helina Abere is the operations manager in TenaSeb. She is a medical doctor by
                  profession
                  and Public Health Specialist and final year student on Project management</p>
              </div>
     
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile6" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <br />
          <br />
          <div class="row">
            <p class="app">
              Providing a plat form that help mother's easily get a care giver at there need .giving mother's, women's
              and young
              girls who are graduated and don't have have a job to be incorporated in the plat form to gain and access
              work. </p>
            <br>
            <p class="founder">Founder</p>
            <div class="team row">
              <div class="col-lg-3	col-12">
                <div class="parent">
                  <img class="img-team" src="assets\img\Particpants\Minteamer.JPG" />
                  <img class="image2" src="assets\img\country\Ethiopia.png" />
                </div>
              </div>
              <div class="col-lg-7 col-12 info">
                <p class="name">Minteamer Sisay , 36 years old</p>
                <p class="startup">Makoyamoms</p>
                <p class="description">Minteamer Sisay is a graduate of management information System from Unity University and currently pursuing an MBA at Maryland international College. She has 8 years of work experience in Ethiopia and internationally. She is the CEO of Makoyamoms and currently works at World Vision Ethiopia. </p>
              </div>
          
            </div>
          </div>
        </div>

      </div>
    </div>

    <div>





    </div>

  </div>









<app-footer></app-footer>
<a type="a" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top"
  (click)="gotoTop()">
  <i class="fas fa-arrow-up"></i>
</a>