<app-navbar></app-navbar>
<h3>TAW 1.0 /Bootcamps</h3>
<section class="bootcamp-t section-bg" style="background-color: #f5f5f5;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 style="color: #3dc9a5;">Bootcamp timeline</h2>
      <img src="assets/img/twa/Timeline2-aremplacer.png" alt="" class="bootcamp-img">
    </div>
  </div>


</section>
<div class="parag-c container">

  <div class="row counte rs">

    <p class="parag">Starting August 2022, a series of 3-day bootcamps were organized in Tunis, Dakar, Dar Es Salaam,
      and Addis Ababa<br> where participating female entrepreneurs were offered training as an introduction to key
      skills
      they <br>need (market analysis, product management, pitching, Business Model Canvas...) and in preparation for
      <br>the
      pitching competition on the last day.

    </p>
  </div>

</div>


<section class="boot section-bg" style="background-color: #dd5057;">
  <div class="container">

    <div class="exp section-title">
      <h2>4 bootcamps were organized respectively:</h2>
    </div>


    <div class="bootc-c container ">


      <div class="exps section-title justify-content-center">

        <ul class="nav nav-tabs justify-content-center " id="myTab" role="tablist">
          <li class="nav-item justify-content-center" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
              role="tab" aria-controls="home" aria-selected="true">Tunisia</button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
              role="tab" aria-controls="profile" aria-selected="false"> Senegal </button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile1" type="button"
              role="tab" aria-controls="profile1" aria-selected="false">Tanzania</button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile2" type="button"
              role="tab" aria-controls="profile2" aria-selected="false">Ethiopia</button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <h1 class="bootcamps">The Dot Tunis 17-18-19 of August</h1>

              <div class="team1 row">

                <div class="col-md-4 col-12 col-sm-6">
                  <a> <img src="assets\img\Bootcamps\Tunisia\_DSC6405.jpg" class="img-tunis bootcamp-imgs" alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tunisia\_DSC6758.jpg" class="img-tunis bootcamp-imgs" alt=""></a>

                </div>


                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tunisia\_DSC7128.jpg" class="img-tunis bootcamp-imgs" alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tunisia\_DSC7130.jpg" class="img-tunis bootcamp-imgs" alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tunisia\_DSC7131.jpg" class="img-tunis bootcamp-imgs" alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tunisia\_DSC7087.jpg" class="img-tunis bootcamp-imgs" alt=""></a>

                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <h1 class="bootcamps"> D-Hub, Dakar on 24-25-26 of August</h1>

              <div class="team row">


                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Senegal\senegal3.jpeg" class="img-senegal bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Senegal\senegal5.jpeg" class="img-senegal bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Senegal\senegal66.jpeg" class="img-senegal bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Senegal\senegal4.jpeg" class="img-senegal bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Senegal\senegal7.jpeg" class="img-senegal bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Senegal\senegal2.jpeg" class="img-senegal bootcamp-imgs"
                      alt=""></a>

                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="profile1" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <h1 class="bootcamps">Seedspace, Dar Es Salaam on 29-30-31 of August.</h1>
              <div class="team row">



                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tanzania\IMG_82544.jpg" class="img-tanzania bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tanzania\IMG_8469.jpg" class="img-tanzania bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tanzania\IMG_8345.jpg" class="img-tanzania bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tanzania\IMG_79145.jpg" class="img-tanzania bootcamp-imgs"
                      alt=""></a>

                </div>

                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tanzania\IMG_7914.jpg" class="img-tanzania bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Tanzania\IMG_8494.jpg" class="img-tanzania bootcamp-imgs"
                      alt=""></a>

                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="profile2" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <h1 class="bootcamps">ADORE Addis Hotel, Addis Ababa on 7-8-9 of September.</h1>
              <div class="team row">


                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Ethiopia\DSC_2016 copy.jpg" class="img-ethiopia bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Ethiopia\DSC_2732.jpg" class="img-ethiopia bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Ethiopia\DSC_1879.jpg" class="img-ethiopia bootcamp-imgs"
                      alt=""></a>

                </div>

                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Ethiopia\DSC_1367.jpg" class="img-ethiopia bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Ethiopia\DSC_20944.jpg" class="img-ethiopia bootcamp-imgs"
                      alt=""></a>

                </div>
                <div class="col-md-4 col-12 col-sm-6">

                  <a> <img src="assets\img\Bootcamps\Ethiopia\DSC_25555.jpg" class="img-ethiopia bootcamp-imgs"
                      alt=""></a>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div>





      </div>

    </div>
  </div>


</section>
<section class="section-bg winners" style="background-color: #D19237;">

  <div class="contai">
    <div class="text section-title">
      <h2>2 Winners per Bootcamp !</h2>
      <p> The winning team in each one of the four selected cities won a 2K usd grant.<br>
        The two best pitches had access to a 12-weeks online incubation program<br>
        and a fully funded trip to Addis Ababa to pitch in the final ceremony.</p>

    </div>
    <div class="image">
      <img src="assets\img\twa\Path 6.png">
    </div>

  </div>
</section><!-- End Testimonials Section -->
<section class="collab section-bg">
  <div class="container">

    <div class="section-title">
      <p> We collaborated with local partners<br>
        who made this bootcamp phase a success </p>
    </div>
    <div class="collaboration row">
      <div class="col-lg-4 col-sm-6">
        <a><img src="assets\img\twa\Groupe 29164.png"> </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a>
          <img src="assets\img\twa\Groupe 29158.png"> </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a><img class="imgs" src="assets\img\twa\Groupe 29179.png"> </a>
      </div>

    </div>
  </div>
</section><!-- End Testimonials Section -->


<section class="experts section-bg" style="background-color: #081C80;">
  <div class="container">

    <a class="exp section-title">
      <h2>The proficient local experts<br>and local judges in each country</h2>
    </a>


    <div class="container ">


      <div class="exps section-title justify-content-center">

        <ul class="nav nav-tabs justify-content-center " id="myTab" role="tablist">
          <li class="nav-item justify-content-center" role="presentation">
            <button class="countr1 nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tunisia"
              type="button" role="tab" aria-controls="tunisia" aria-selected="true">Tunisia</button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="countr2 nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#senegal"
              type="button" role="tab" aria-controls="senegal" aria-selected="false"> Senegal </button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="countr3 nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tanzania"
              type="button" role="tab" aria-controls="tanzania" aria-selected="false">Tanzania</button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="countr4 nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#ethiopia"
              type="button" role="tab" aria-controls="ethiopia" aria-selected="false">Ethiopia</button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tunisia" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <img class="trainers" src="assets\img\twa\png\tunis1.png">

              <div class="row">


                <div class="team2 row">

                  <div class="col col-sm-6 ">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Marwen Dhemayed.jpg" class="img-tunis1 "
                        alt=""></a>
                    <p>Marwen Dhemayed</p>

                  </div>
                  <div class="col col-sm-6 ">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Hamza Ben Youssef.jpg" class="img-tunis1"
                        alt=""></a>
                    <p>Hamza Ben Youssef</p>


                  </div>

                </div>
                <br><br>
                <div class="team row">
                  <div class="col">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Asma Jemaa.jpg" class="img-tunis1" alt=""></a>
                    <p>Asma Jemaa</p>


                  </div>
                  <div class="col">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Zhaira Banneni.jpg" class="img-tunis1"
                        alt=""></a>
                    <p>Zhaira Banneni</p>


                  </div>
                  <div class="col">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Eya Chemli.jpg" class="img-tunis1" alt=""></a>
                    <p>Eya Chemli</p>


                  </div>
                  <div class="col">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Farah Boughanmi.png" class="img-tunis1"
                        alt=""></a>
                    <p>Farah Boughanmi</p>


                  </div>
                  <div class="col">
                    <a> <img src="assets\img\Trainers Bootcamp\Tunisia\Sabine Bastisch.jpg" class="img-tunis1"
                        alt=""></a>
                    <p>Sabine Bastisch</p>


                  </div>
                </div>


              </div>
              <img class="judges" src="assets\img\twa\png\tunis2.png">

              <div class="team row">
                <div class="col">
                  <a> <img src="assets\img\Judges\Tunisia\Aida Robbana.jpg" class="img-tunis1" alt=""></a>
                  <p>Aida Robbana</p>


                </div>
                <div class="col">
                  <a> <img src="assets\img\Judges\Tunisia\Dhekra khelifi.jpg" class="img-tunis1" alt=""></a>
                  <p>Dhekra khelifi</p>


                </div>
                <div class="col">
                  <a> <img src="assets\img\Judges\Tunisia\Houda Bakir.jpg" class="img-tunis1" alt=""></a>
                  <p>Houda Bakir</p>


                </div>
                <div class="col">
                  <a> <img src="assets\img\Judges\Tunisia\Sahar Mechri.jpg" class="img-tunis1" alt=""></a>
                  <p>Sahar Mechri</p>


                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" id="senegal" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <img class="trainers" src="assets\img\twa\png\Senegal1.png">


              <div class="team row">
                <div class="col">
                  <a> <img src="assets\img\Trainers Bootcamp\Senegal\Victor Pied.jpg" class="img-senegal judges-imgs"
                      alt=""></a>
                  <p>Victor Pied</p>


                </div>
                <div class="col">
                  <a> <img src="assets\img\Trainers Bootcamp\Senegal\Mamadou Khoussa.jpg"
                      class="img-senegal judges-imgs" alt=""></a>
                  <p>Mamadou Khoussa</p>


                </div>
                <div class="col">
                  <a> <img src="assets\img\Trainers Bootcamp\Senegal\Mafal Lo.jpg" class="img-senegal judges-imgs"
                      alt=""></a>
                  <p>Mafal Lo</p>


                </div>
                <div class="col">
                  <a> <img src="assets\img\Trainers Bootcamp\Senegal\Adrien Schwarz.jpg" class="img-senegal judges-imgs"
                      alt=""></a>
                  <p>Adrien Schwarz</p>


                </div>
              </div>

              <img class="judges" src="assets\img\twa\png\Senegal2.png">
              <div class="team row">
                <div class="col">

                  <a> <img src="assets\img\Judges\Senegal\Adia Gnacko.jpg" class="img-senegal judges-imgs" alt=""></a>
                  <p>Adia Gnacko</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Senegal\Carine Vavasseur.jpg" class="img-senegal judges-imgs"
                      alt=""></a>
                  <p>Carine Vavasseur</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Senegal\Diago Diouf Fati.jpg" class="img-senegal judges-imgs"
                      alt=""></a>
                  <p>Diago Diouf Fati</p>


                </div>
              </div>



            </div>

          </div>
          <div class="tab-pane" id="tanzania" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <img class="trainers" src="assets\img\twa\png\Tanzania1.png">

              <div class="team row">
                <div class="row">
                  <div class="col-6">

                    <a> <img src="assets\img\Trainers Bootcamp\Tanzania\Jerry Geofrey Mang_ena.jpg"
                        class="img-tanzania judges-imgs" alt=""></a>
                    <p>Jerry Geofrey Mang_ena</p>


                  </div>
                  <div class="col-6">

                    <a> <img src="assets\img\Trainers Bootcamp\Tanzania\John Alfred.jpg"
                        class="img-tanzania judges-imgs" alt=""></a>
                    <p>John Alfred</p>


                  </div>
                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Tanzania\Mboni Kibelloh.jpg"
                      class="img-tanzania judges-imgs" alt=""></a>
                  <p>Mboni Kibelloh</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Tanzania\Edson Stanley.jpg"
                      class="img-tanzania judges-imgs" alt=""></a>
                  <p>Edson Stanley</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Tanzania\Adam Mbyallu.jpg" class="img-tanzania judges-imgs"
                      alt=""></a>
                  <p>Adam Mbyallu</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Tanzania\Sabiha Rashid.jpg"
                      class="img-tanzania judges-imgs" alt=""></a>
                  <p>Sabiha Rashid</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Tanzania\Avidas Theophil.jpg"
                      class="img-tanzania judges-imgs" alt=""></a>
                  <p>Avidas Theophil</p>


                </div>
              </div>
              <img class="judges" src="assets\img\twa\png\Tanzania2.png">

              <div class="team row">
                <div class="col">

                  <a> <img src="assets\img\Judges\Tanzania\Adam Mbyallu.jpg" class="img-tanzania judges-imgs"
                      alt=""></a>
                  <p>Adam Mbyallu</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Tanzania\John Alfred.jpg" class="img-tanzania judges-imgs" alt=""></a>
                  <p>John Alfred</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Tanzania\Lilian Secelea Madeje.jpg" class="img-tanzania judges-imgs"
                      alt=""></a>
                  <p>Lilian Secelea Madeje</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Tanzania\Vanessa  Kisowile.jpg" class="img-tanzania judges-imgs"
                      alt=""></a>
                  <p>Vanessa Kisowile</p>


                </div>
              </div>

            </div>

          </div>
          <div class="tab-pane" id="ethiopia" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <img class="trainers" src="assets\img\twa\png\Ethiopia1.png">

              <div class="team row">

                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Ethiopia\Nathnael Mogus.jpg"
                      class="img-ethiopia judges-imgs" alt=""></a>
                  <p>Nathnael Mogus</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Ethiopia\Engidashet Melaku.jpg"
                      class="img-ethiopia judges-imgs" alt=""></a>
                  <p>Engidashet Melaku</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Ethiopia\Dagmawi Bedilu Degefe.jpg"
                      class="img-ethiopia judges-imgs" alt=""></a>
                  <p>Dagmawi Bedilu Degefe</p>

                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Ethiopia\Samuel Fekade.jpg"
                      class="img-ethiopia judges-imgs" alt=""></a>
                  <p>Samuel Fekade</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Trainers Bootcamp\Ethiopia\Becky Tsadik.jpg" class="img-ethiopia judges-imgs"
                      alt=""></a>
                  <p>Becky Tsadik</p>


                </div>

              </div>
              <img class="judges" src="assets\img\twa\png\Ethiopia2.png">

              <div class="team row">
                <div class="col">

                  <a> <img src="assets\img\Judges\Ethiopia\Betelhem Dessie.jpg" class="img-ethiopia judges-imgs"
                      alt=""></a>
                  <p>Betelhem Dessie</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Ethiopia\Bilen Anyu.jpg" class="img-ethiopia judges-imgs" alt=""></a>
                  <p>Bilen Anyu</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Ethiopia\Mirafe Gebriel Marcos.jpg" class="img-ethiopia judges-imgs"
                      alt=""></a>
                  <p>Mirafe Gebriel Marcos</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Ethiopia\Sitra Abubaker.jpg" class="img-ethiopia judges-imgs"
                      alt=""></a>
                  <p>Sitra Abubaker</p>


                </div>
                <div class="col">

                  <a> <img src="assets\img\Judges\Ethiopia\Tigist G Araya.jpg" class="img-ethiopia judges-imgs"
                      alt=""></a>
                  <p>Tigist G Araya</p>



                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div>





      </div>

    </div>
  </div>


</section>
<app-footer></app-footer>
<button type="button" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top"
  (click)="gotoTop()">
  <i class="fas fa-arrow-up"></i>
</button>