<app-navbar></app-navbar>

<h3>TAW 1.0 /Demo day</h3>

  <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
    </div>
    <div class="ca carousel-inner">
      <div class="carousel-item active">
        <img src="assets\img\Demo Day\DAN_3696.JPG" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets\img\Demo Day\DAN_3962.JPG"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\Demo Day\DAN_4131.JPG"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\Demo Day\DAN_4462.JPG"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\Demo Day\DAN_4831.JPG"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\img\Demo Day\DAN_5056.JPG"  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
<section>


  <div class="container">

    <div class="row counte rs">

      <p class="parag">The 8 founders representing the 4 targeted African countries got invited to Addis Ababa to pitch
        their ideas
        for a chance to win a grant prize of 7 000 USD to help them launch their project.
        The Demo Day was preceded by a startup ecosystem tour in which the finalists visited a coworking space
        (Blue Space), an innovation hub (Creative Hub) and met with successful Local startups.
        Based on four criteria; impact, market size, team and competitive advantage, the startups were scored by
        judges and UJANA was announced as a winner of TAW 1.0.

      </p>
    </div>

  </div>
</section>
<section id="testimonials" class="testimonials section-bg" style="background-color: #dd5057;">
  <div class="container" >

    <div class="section-title">
      <h2>Ecosystem Tour</h2>
    </div>
    <div class="container text-center">

      <div class="team row">


        <div class="col">
          <a> <img src="assets\img\Ecosystem Tour\20221219_120125.jpg" class="img-team" alt="" data-aos="fade-down-left"></a>

        </div>
        <div class="col">
          <a> <img src="assets\img\Ecosystem Tour\20221219_143609.jpg" class="img-team" alt="" data-aos="fade-down-right"></a>

        </div>
        <div class="col">
          <a> <img src="assets\img\Ecosystem Tour\20221219_110002.jpg" class="img-team" alt="" data-aos="zoom-in"></a>

        </div>
        <div class="col">
          <a> <img src="assets\img\Ecosystem Tour\20221219_152850.jpg" class="img-team" alt="" data-aos="fade-down-left"></a>

        </div>
        <div class="col">
          <a> <img src="assets\img\Ecosystem Tour\20221219_155347.jpg" class="img-team" alt="" data-aos="fade-down-right"></a>

        </div>
      </div>
    </div>
  </div>


</section>

<section id="testimonials" class="testimonials section-bg" style="background-color: #f5f3f3;">
  <div class="container" >

    <div class="section-title">
      <h2 style="color: #3dc9a5;">Honorable judges</h2>
    </div>
    <div class="container text-center" data-aos="fade-down">

      <div class="judges row">


        <div class="col">
          <a> <img src="assets/img/Judges/Demo Day/Nigest Haile.JPG" class="img-judges" alt="" data-aos="fade-down-left"></a>
          <p class="judgesnames">Nigest Haile</p>

        </div>
        <div class="col">
          <a> <img src="assets/img/Judges/Demo Day/Astewaye Woldemichael.jpg" class="img-judges" alt="" data-aos="fade-down-right"></a>
          <p class="judgesnames">Astewaye Woldemichael</p>

        </div>
        <div class="col">
          <a> <img src="assets/img/Judges/Demo Day/Mactar Seck.jpg" class="img-judges" alt="" data-aos="zoom-in"></a>
          <p class="judgesnames">Mactar Seck</p>

        </div>
        <div class="col">
          <a> <img src="assets/img/Judges/Demo Day/Estifanos Samuel.jpg" class="img-judges" alt="" data-aos="fade-down-left"></a>
          <p class="judgesnames">Estifanos Samuel</p>

        </div>
        <div class="col">
          <a> <img src="assets/img/Judges/Demo Day/Mariah Grubb.JPG" class="img-judges" alt="" data-aos="fade-down-right"></a>
          <p class="judgesnames">Mariah Grubb</p>

        </div>
      </div>
    </div>
  </div>


</section>


<app-footer></app-footer>
<button type="button" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top" (click)="gotoTop()">
  <i class="fas fa-arrow-up"></i>
</button>