<app-navbar></app-navbar>


<main id="main">

  <!-- ======= About Section ======= -->
  <!-- Carousel Start -->
  
  <div id="overlay-color-slider" class="carousel slide " data-bs-ride="carousel">
 
    <div class="ca carousel-inner ">
      <div class="carousel-item active">
        <div class="top-left "><h3>TAW 1.0 /Presentation</h3></div>
        <img src="assets/img/Bootcamps/Tunisia/_DSC6759.jpg"  alt="...">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item"><div class="top-left"><h3>TAW 1.0 /Presentation</h3></div>
        <img src="assets/img/Bootcamps/Senegal/senegal6.jpeg"  alt="...">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item"><div class="top-left"><h3>TAW 1.0 /Presentation</h3></div>
        <img src="assets/img/Bootcamps/Tanzania/IMG_8254.jpg"  alt="...">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item"><div class="top-left"><h3>TAW 1.0 /Presentation</h3></div>
        <img src="assets/img/Bootcamps/Ethiopia/DSC_2555.jpg"  alt="...">
        <div class="overlay"></div>
      </div>
    </div>
   
  <br>
  <br>

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#overlay-color-slider" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#overlay-color-slider" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#overlay-color-slider" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#overlay-color-slider" data-bs-slide-to="3"
        aria-label="Slide 3"></button>

    </div>

  </div>

  
  <!-- Carousel End -->
  <!-- ======= Counts Section ======= -->
  <section class="counts">
    <div class="container">

      <div class="row counters">

        <p class="parag"> TAW 1.0: A 5-month entrepreneurship program targeting female-led & idea-stage tech startups in
          Ethiopia, Senegal, Tanzania & Tunisia providing solutions to the Sustainable Development Goals (SDGs). It
          offers teams an exclusive opportunity to transform their ideas into reality, acquire new skills and be part of
          a community of empowered African entrepreneurs.</p>
      </div>

    </div>
  </section><!-- End Counts Section -->
  <section class="counts">
    <div class="container">

      <div class="row counters">

        <img src="assets\img\twa\png\Groupe 28900.png"  data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom" 
        data-aos-duration="1000">
      </div>
    </div>
  </section>
  <!-- End Counts Section -->
  <!--Program timeline-->
  <section  class="prog-timeline section-bg" style="background-color: #f5f5f5;">
    

      
    <div class="carousel-item active section-title">
      <h2 class="top-left1 ">Program Timeline</h2>
      <img src="assets\img\twa\png\Group 29730.png" class="timeline" alt="">
      <div class="overlay"></div>
    </div>

  </section>

  <!--Pro-->
  <!-- ======= Taw 1.0 in numbers! ======= -->
  <section class="counts section-bg">
    <div class="numbers container" >


      <div class="section-title">
        <h2>Taw 1.0 in numbers!</h2>

      </div>

      <section >
        <div class="container">

          <div class="row ">

            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">
              <p class="target-caption">Total number of applications: </p>
              <img style=" height: 55px;width: 120px;"src="assets\img\twa\png\stat1.png" class="img-fluid" alt="" 
              data-aos-anchor-placement="top-bottom">

            </div>

            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom">

              <p class="target-caption" >Total number of Startups : </p>
              <img src="assets\img\twa\png\stat2.png" class="img-fluid" alt="" >
            </div>

            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Total number
                of participants: </p>
              <img src="assets\img\twa\png\stat3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Number of judges: </p>
              <img src="assets\img\twa\png\stat4.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Number of MVPs developed</p>
              <img style=" height: 60px;width: 100px;" src="assets\img\twa\png\stat5.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Number of trainers:</p>
              <img src="assets\img\twa\png\stat6.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Online articles </p>
              <img src="assets\img\twa\png\stat7.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Funds distributed </p>
              <img style=" height: 60px;width: 190px;"src="assets\img\twa\png\stat8.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-4 col-sm-6"  data-aos="zoom-in"
     data-aos-anchor-placement="top-bottom">

              <p class="target-caption">Number of
                Trainings delivered</p>
              <img style=" height: 60px;width: 120px;"src="assets\img\twa\png\stat9.png" class="img-fluid" alt="">
            </div>
            <div class="col"  data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom">

              <p class="target-caption">People reached
                on social media</p>
              <img style=" height: 60px;width: 190px;" src="assets\img\twa\png\stat10.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>
      </section><!-- End Counts Section -->


    </div>
  </section><!-- End Services Section -->



</main><!-- End #main -->

<app-footer></app-footer>
<button type="button" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top" (click)="gotoTop()">
  <i class="fas fa-arrow-up"></i>
</button>