<app-navbar></app-navbar>
<!-- Hero Start -->
<div class="hero-header ">

  <div class="overlay ">

    <div class="cover">
      <div class="cov">


        <div>
          <img class="slider-taw" src="assets\img\twa\Textslider1.png">

        </div>
        <div class="col-12">
          <p class="title">EMPOWERING AFRICAN <br> WOMEN TECH FOUNDERS</p>


        </div>
        <div class="col-6 title">
          <a class="getstarted scrollto">Apply Now </a>
        </div>
        <div class="col-6">
          <img class="taw" src="assets\img\twa\Group 28835.png">

        </div>

      </div>

    </div>
  </div>
</div>
<!-- Hero End -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img src="assets/img/twa/png/photo 2.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">

          <br />
          <br />
          <br />
          <br />
          <br />


          <ul><span style="color:#081D81 ; font-weight: bold;"> Tech African Women:</span>
            is a program led by BetaCube and supported by UNECA dedicated to
            building a strong female-led tech Startup pipeline and community in Africa. it will run from
            August to December 2022 and is composed of 3 main phases:</ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section class="counts">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

          <img src="assets/img/twa/image 1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <img src="assets/img/twa/image 2.png " class="img-fluid" alt="">
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <img src="assets/img/twa/image 3.png" class="img-fluid" alt="">
        </div>


      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="about" class="services section-bg">
    <div class="container" data-aos="fade-up">


      <div class="section-title">
        <h2 style="color: #3dc9a5;">What we aim for ?</h2>

      </div>

      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets/img/twa/png/Illustration 1.png" class="img-fluid" alt="">

            </div>

            <p>Empower female founders to leverage their skills to build strong tech startups from
              scratch</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="assets/img/twa/png/Illustration 2.png" class="img-fluid" alt="">
            </div>

            <p>Accelerate the transformation of project ideas and prototypes into validated business
              models, ready for market & investment</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img src="assets/img/twa/png/Illustration 3.png" class="img-fluid" alt="">
            </div>


            <p>Build communities and alliances to aggregate opportunities for women entrepreneurs
              and maximize impact.</p>
          </div>
        </div>



      </div>

    </div>
  </section><!-- End Services Section -->


  <!-- ======= Features Section ======= -->
  <section id="services" class="features">
    <div class="container " data-aos="fade-up">

      <div class="section-title">
        <h2 style="color: #e3a639;">What do we offer?</h2>

      </div>
      <div class="section-title justify-content-center">

        <ul class="nav nav-tabs justify-content-center " id="myTab" role="tablist">
          <li class="nav-item justify-content-center" role="presentation">
            <button class="nav-link active bootcamp" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
              type="button" role="tab" aria-controls="home" aria-selected="true">Bootcamp</button>
          </li>
          <li class="nav-item  justify-content-center" role="presentation">
            <button class="nav-link incubation" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
              type="button" role="tab" aria-controls="profile" aria-selected="false">Incubation Program</button>
          </li>

        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">

                  <li>
                    <span style="color: 	#081d82;">
                      An invitation to participate in a 3-day intensive training bootcamp in your country
                    </span>

                  </li>
                  <li>
                    <span style="color: 	#081d82;">A cash grant of 2k usd for the winning team per country
                    </span>
                  </li>
                  <li>
                    <span style="color: 	#081d82;">
                      A fully funded trip to Rwanda for 2 winning projects per country to pitch in the final
                      ceremony
                    </span>
                  </li>
                </div>


              </div>
              <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/img/twa/png/Bootcamp.png" alt="" class="img-fluid">
              </div>
            </div>

          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br />
            <br />
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">

                  <li>
                    <span style="color: 	#081d82;">
                      Access to a pool of tech &amp; design experts to develop your MVP </span>
                  </li>
                  <li> <span style="color: 	#081d82;"> Personal Support from a startup coach</span></li>
                  <li> <span style="color: 	#081d82;"> Customized one to one coaching sessions with top experts in
                      Marketing &amp; Finance</span></li>
                  <li> <span style="color: 	#081d82;"> Intercultural journey of learning from entrepreneurs from
                      Tunisia, Tanzania, Ethiopia &amp;
                      Senegal</span></li>
                  <li> <span style="color: 	#081d82;"> A cash grant of 7k usd for the best startup at the end of the
                      program</span></li>
                </div>

              </div>
              <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/img/twa/png/Incubation program.png" alt="" class="img-fluid">
              </div>
            </div>

          </div>

        </div>
      </div>

      <div>





      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="portfolio" class="elgibility section-bg" style="background-color: #e3a639;">
    <div class="contai">
      <div class="text section-title">
        <h2>ELIGIBILITY</h2>
        <li> All participants must be female between 18 and 35 years old .</li>
        <li> To have an idea of a tech startup that is addressing at least one of the SDGs .</li>
        <li>To be a national of one of the targeted countries: Tunisia, Tanzania, Senegal &amp; Ethiopia .</li>
        <li>To be available and committed to attending all the bootcamp sessions physically
          in addition to<br>
          the online incubation phase .</li>
        <li>To be able to communicate fluently in French or English .</li>

      </div>
      <div class="image">
        <img src="assets\img\twa\Path 6.png">
      </div>

    </div>


  </section><!-- End Testimonials Section -->

  <section class="section-bg" style="background-color: #dd5057;">



    <h2 class="section-title">Program timeline</h2>
    <img src="assets\img\twa\Group 29729.png" alt="" class="img-fluid1">




  </section>


  <section id="testimonials" class=" section-bg" style="background-color: #f5f5f5;">

    <div class="container">
      <div class="section-title">
        <h2 class="sections-title">Bootcamp timeline</h2>
        <img src="assets/img/twa/Timeline2-aremplacer.png" alt="" class="img-fluid" data-aos="fade-up">
      </div>
    </div>




  </section>

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing section-bg">
    <div class="container" data-aos="fade-up">



      <div class="row">

        <div class="col-lg-3 col-md-6" data-aos-delay="100">
          <div class="box" data-aos="flip-left">
            <p class="deadline">Deadline to apply</p>
            <h3>August 10th,2022 </h3>

            <ul>
              <img src="assets/img/twa/png/TU.png" alt="" class="img-fluid">
            </ul>
            <div class="btn-wrap">
              <a href="apply.html" class="btn-buy">Apply Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box " data-aos="flip-left">
            <p class="deadline">Deadline to apply</p>
            <h3>August 17th,2022 </h3>


            <ul>
              <img src="assets/img/twa/png/tan.png" alt="" class="img-fluid">
            </ul>
            <div class="btn-wrap">
              <a href="apply.html" class="btn-buy">Apply Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box" data-aos="flip-left">
            <p class="deadline">Deadline to apply</p>
            <h3>August 17th,2022 </h3>


            <ul>
              <img src="assets/img/twa/png/eth.png" alt="" class="img-fluid">
            </ul>
            <div class="btn-wrap">
              <a href="apply.html" class="btn-buy">Apply Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box" data-aos="flip-left">
            <p class="deadline">Deadline to apply</p>
            <h3>August 17th,2022 </h3>


            <ul>
              <img src="assets/img/twa/png/san.png" alt="" class="img-fluid">
            </ul>
            <div class="btn-wrap">
              <a href="apply.html" class="btn-buy">Apply Now</a>
            </div>
          </div>
        </div>

      </div>
      <br />
      <br />
      <br />





    </div>
  </section>
  <section class="testimonials  section-bg" style="background-color: white;">
    <div class="container">

      <div class="section-title">
        <h2 class="sections-title">Testimonials</h2>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner testim">
            <div class="carousel-item active car">

              <img src="assets\img\testimonials\Group 29730.png">
              <p class="test">This bootcamp opened my mind and
                got me to think bigger and differently,
                especially in the business area.</p>
            </div>
            <div class="carousel-item car1">
              <img src="assets\img\testimonials\Group 29733.png">
              <p class="test">My key takeways from the bootcamp
                were that as a women i can do so much
                more things, it was a life changing
                training and a chance to pitch.</p>

            </div>
            <div class="carousel-item car">
              <img class="testimonials-img1" src="assets\img\testimonials\Group 29730.png">
              <p class="test">As a beginner in the startup world,
                the program was perfect for me,
                because i found the basics that we
                need to know to start a project.</p>
            </div>
            <div class="carousel-item car1">
              <img class="testimonials-img1" src="assets\img\testimonials\Group 29733.png">
              <p class="test">It was a great experience and i
                hope this program will continue
                involving even more African countries
                in the Future.</p>
            </div>


          </div>
          <br>
          <br>
          <div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="active n-active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2" class="n-active"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3" class="n-active"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4" class="n-active"></button>
            </div>
          </div>
        </div>
        <!-- Indicators -->

      </div>
    </div>



  </section>

  <section class="media-q">
    <div class="container text-center">
      <div class="section-title">
        <h2 class="sections-title">We were featured on</h2>
        <p class="med-text">The program was covered by different <br>media outlets in 26 countries in Africa & MENA </p>
        <div class="container text-center " data-aos="fade-right">

          <div class="slider">
            <div class="slide-track">
              <div class="slide">
              </div>
              <div class="slide">
                <img style=" height: 110px;width: 250px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\ethiopian monitor.PNG">
              </div>
              <div class="slide">
                <img style=" height: 210px;width: 240px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\uneca.png">
              </div>
              <div class="slide">
                <img class="featured" data-aos="flip-left" src="assets\img\Media Outlets\African-Business-600x400.gif">
              </div>
              <div class="slide">
                <img class="featured" data-aos="flip-left" src="assets\img\Media Outlets\All Africa.png">
              </div>
              <div class="slide">
                <img class="featured" data-aos="flip-left" src="assets\img\Media Outlets\Capital_ethiopia_logo.png">
              </div>
              <div class="slide">
                <img class="featured" data-aos="flip-left" src="assets\img\Media Outlets\dirupt africa.png">
              </div>
              <div class="slide">
                <img style=" height: 120px;width: 170px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\ecofin.jpg">
              </div>
              <div class="slide">
                <img style=" height: 120px;width: 170px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\ethiopia new agency.png">
              </div>
              <div class="slide">
                <img style=" height: 120px;width: 190px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\Ethiopian News Agency.png">
              </div>
              <div class="slide">
                <img style=" height: 120px;width: 170px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\Express_FM.png">
              </div>
              <div class="slide">
                <img style=" height: 120px;width: 170px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\Gulf Africa.jpg">
              </div>
              <div class="slide">
                <img class="featured" data-aos="flip-left" src="assets\img\Media Outlets\ilboursa.png">
              </div>
              <div class="slide">
                <img style=" height: 90px;width: 190px;" class="featured " data-aos="flip-left"
                  src="assets\img\Media Outlets\It News Africa.png">
              </div>
              <div class="slide">
                <img style=" height: 70px;width: 170px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\managers logo.png">
              </div>
              <div class="slide">
                <img style=" height: 90px;width: 190px;" class="featured" data-aos="flip-left"
                  src="assets\img\Media Outlets\mosaique fm.png">
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


  <!-- End Pricing Section -->


</main><!-- End #main -->


<app-footer></app-footer>
<button type="button" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top"
  (click)="gotoTop()">
  <i class="fas fa-arrow-up"></i>
</button>