<app-navbar></app-navbar>
<h3>TAW 1.0 /Incubation</h3>
<section>
    <div class="container">

        <div class="section-title">
            <h2 style="color: #3dc9a5;">INCUBATION</h2>
        </div>
    </div>

    <div class="container">

        <div class="row counte rs">

            <p class="parag"> The 8 finalists from Tunisia, Senegal, Tanzania and Ethiopia benefited from an intensive
                equity free
                3-month incubation phase with a focus on Tech readiness of the MVP, Investment Readiness and Go
                to market readiness.
                During their training, the startups were able to attend tailored webinars led by
                international trainers and were put in touch separately with a network of developers, designers and
                business experts who supported them on branding, business planning, market analysis, pitching...


            </p>
        </div>

    </div>
</section>
<section id="testimonials" class="testimonials section-bg" style="background-color: #F5F5F5;">
    <div class="container" >

        <div class="section-title">
            <h2 style="color: #F3525D;">What we offered to our participants:</h2>
        </div>
        <div class="container " data-aos="fade-up">

            <div class="team row">


                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/1.png" class="img-dig" alt=""></a>
                    <p class="caption">A clear roadmap with templates
                        to fill each week based on the
                        Lean Startup Methodology </p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/2.png" class="img-dig" alt=""></a>
                    <p class="caption">Graphic chart & UI Design </p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/3.png" class="img-dig" alt=""></a>
                    <p class="caption">Business Model Validation </p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/4.png" class="img-dig" alt=""></a>
                    <p class="caption">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Visibility</p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/5.png" class="img-dig" alt=""></a>
                    <p class="caption">Capacity building: webinars
                        about product management,
                        digital marketing, pitching … </p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/6.png" class="img-dig" alt=""></a>
                    <p class="caption">Access to a pool of
                        Tech & Design experts
                        to develop MVPs </p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/7.png" class="img-dig" alt=""></a>
                    <p class="caption">Customized one to one coaching
                        sessions with top experts
                        in market research,
                        branding, tech & finance </p>

                </div>
                <div class="col-3">
                    <a> <img src="assets/img/Digital tools/8.png" class="img-dig" alt=""></a>
                    <p class="caption">Cultural Exchange Workshops </p>

                </div>
            </div>
        </div>
    </div>


</section>
<section id="testimonials" class="testimonials section-bg" style="background-color: #FFFF;">
    <div class="container" >

        <div class="section-title">
            <h2 style="color: #081D82;">A digital environment that facilitates growth</h2>
        </div>
        <div class="container text-center" >

            <div class="team row">


                <div class="col">
                    <a> <img src="assets/img/Digital tools/cynoia (1).png" class="img-dig w-100" alt=""></a>
                    <p class="caption">Chat with TAW teams & with participants <br> Incubation program Tracking</p>

                </div>
                <div class="col">
                    <a> <img src="assets/img/Digital tools/Google drive.png" class="img-dig" alt=""></a>
                    <p class="caption">Centralizing <br> documentation <br>Templates</p>

                </div>
                <div class="col">
                    <a> <img src="assets/img/Digital tools/google-meet.png" class="img-dig" alt=""></a>
                    <p class="caption">Calls <br>Webinars </p>

                </div>
                <div class="col">
                    <a> <img src="assets/img/Digital tools/Google_Calendar_.png" class="img-dig" alt=""></a>
                    <p class="caption">Prior booking of all<br>calls & webinars </p>

                </div>

            </div>
        </div>
    </div>


</section>
<section id="testimonials" class="experts section-bg" style="background-color: #dd5057;">
    <div class="container" >

        <div class="section-title">
            <h2>We worked with local and international experts to support our cohort</h2>
        </div>
        <div class="container text-center " data-aos="fade-right">

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="team row">

                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\Yssem Saadi.jpg"
                                        class="img-team" alt=""></a>
                                <p class="expert">Yssem Saadi</p>
                                <p class="job">Branding expert<br>Tunisia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\Khouldoun Bouraoui.jpg"
                                        class="img-team" alt=""></a>
                                <p class="expert">Khouldoun Bouraoui</p>
                                <p class="job">Product Management expert<br>Tunisia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets/img/people/BirukYosef.png" class="img-team" alt=""></a>
                                <p class="expert">
                                    Biruk Yosef</p>
                                <p class="job">Market research<br>Ethiopia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets/img/people/Bianca Praetorius.jpg" class="img-team" alt=""></a>
                                <p class="expert">
                                    Bianca Praetorius</p>
                                <p class="job">Startup Pitch Coach<br>Germany </p>

                            </div>
                            

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="team row">
                            <div class="col">
                                <a> <img src="assets/img/people/Nouha Jaafar.jpg" class="img-team" alt=""></a>
                                <p class="expert">
                                    Nouha Jaafar</p>
                                <p class="job">UX Designer enior<br>Tunisia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets/img/people/Ephrata Dereje.png" class="img-team" alt=""></a>
                                <p class="expert">
                                    Ephrata Dereje</p>
                                <p class="job">Senior Digital Strategist <br>GEBEYA INC.Ethiopia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets/img/people/Rafael Tyszblat.jpg" class="img-team" alt=""></a>
                                <p class="expert">
                                    Rafael Tyszblat</p>
                                <p class="job">Facilitator<br>France </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\Maher Zaanouni.jpeg" class="img-team" alt=""></a>
                                <p class="expert">Maher Zaanouni</p>
                                <p class="job">Finance expert<br>Tunisia </p>

                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="team row">


                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\Edgar Masatu.jpg"
                                        class="img-team" alt=""></a>
                                <p class="expert">Edgar Masatu</p>
                                <p class="job">Market research expert<br>Tanzania </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\eya chemli.jpg"
                                        class="img-team" alt=""></a>
                                <p class="expert">Eya chemli</p>
                                <p class="job">Market research expert<br>Tunisia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\Houda Bekir.jpg"
                                        class="img-team" alt=""></a>
                                <p class="expert"> Houda Bakir</p>
                                <p class="job">Tech expert<br>Tunisia </p>

                            </div>
                            <div class="col">
                                <a> <img src="assets\img\Trainers-Experts Incubation Phase\Mandiaye Ndao.png"
                                        class="img-team" alt=""></a>
                                <p class="expert">Mandiaye Ndao</p>
                                <p class="job">Market research expert<br>Senegal </p>

                            </div>
                        </div>
                    </div>
                   
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


</section>


<app-footer></app-footer>
<button type="button" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top"
    (click)="gotoTop()">
    <i class="fas fa-arrow-up"></i>
</button>