
<nav class="navbar navbar-expand-lg navbar-light" >
  <a class="navbar-brand d-lg-none" href="#"><img src="assets\img\twa\png\Group 29731.png"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbarToggler7"
      aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbarToggler7">
      <a class="d-none d-lg-block navbar-brand" href="#"><img src="assets\img\twa\png\Group 29731.png"></a>
      <div class="spacer"></div>

      <ul class="navbar-nav mx-auto">
         
         
              <div class="navbar-nav navbar-scroll-text ms-auto py-0 signin" >
                <a routerLink='' class="nav-item nav-link" >Home</a>
                <a routerLink='/about-us' class="nav-item nav-link">About Us</a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    TAW 1.0
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/Presentation">Presentation</a></li>
                    <li><a class="dropdown-item" routerLink="/bootcamps">Bootcamps</a></li>
                    <li><a class="dropdown-item" routerLink="/incubation">Incubation phase</a></li>
                    <li><a class="dropdown-item" routerLink="/startups-and-founders">Startups and founders</a></li>
                    <li><a class="dropdown-item" routerLink="/Demo-day">Demo Day</a></li>

            
                  </ul>
                </li>
                <a class="getstarted scrollto" >Apply Now </a>

             
          </div>
      </ul>
  </div>
</nav>
