<app-navbar></app-navbar>
<!-- Hero Start -->
<div class="hero-header ">

  <div class="overlay ">

    <div class="cover">
      <div class=" text-center ">

        <h1 class="display-1 text-white ">
        </h1>
        <div class="col centered ">
          <img src="assets/img/twa/cover.png">

        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="row">

    <p class="parag"> An entrepreneurship program powered by UNECA, implemented by
      Betacube that is dedicated to empower African female entrepreneurship and build a strong female-led tech Startup
      pipeline and community in Africa.

    </p>
  </div>

</div>
<!-- Hero End -->

<main id="main">


  <!-- ======= Counts Section ======= -->
  <section class="section-bg">
    <div class="container">
      <div class="section-title">
        <h2 style="color: #3dc9a5;">Target</h2>

      </div>

      <section class="target">
        <div class="container">

          <div class="row numbers">

            <div class="col-lg-3 col-md-6">


              <img style="height: 140px;width: 125px;"  src="assets\img\twa\png\Groupe 28916.png" class="img-fluid" alt="" data-aos="fade-down-left">
              <p class="target-caption">Female-led startups</p>
            </div>

            <div class="col-lg-3 col-md-6">


              <img style="height: 140px;width: 160px;" src="assets\img\twa\png\Groupe 409.png" class="img-fluid" alt="" data-aos="fade-down-left">
              <p class="target-caption">Idea stage tech startups</p>
            </div>

            <div class="col-lg-3 col-md-6">


              <img style="height: 140px;width: 120px;" src="assets\img\twa\png\Groupe 28922.png" class="img-fluid" alt=""
                data-aos="fade-down-right">
              <p class="target-caption">Resident in one of the<br>African program countries </p>
            </div>
            <div class="col-lg-3 col-md-6">


              <img style="height: 140px;width: 260px;"  src="assets\img\twa\png\Groupe 28919.png" class="img-fluid" alt="" data-aos="fade-down-right">
              <p class="target-caption">Idea that is addressing at<br>least one of the SDGs </p>
            </div>

          </div>

        </div>
      </section><!-- End Counts Section -->





    </div>
  </section>

  <!-- ======= Services Section ======= -->
  <section class="section-bg">
    <div class="container">

      <div class="section-title">
        <h2 style="color: #3dc9a5;">Concerned outcomes</h2>

      </div>
      <div class="container ">

        <div class="outcomes-container row">


          <div class="col-lg-6">
            <a> <img src="assets\img\twa\png\Group 29665.png" class="img-dig" alt="" style="height: 140px;width: 125px;" data-aos="fade-down-left"></a>
            <p class="caption-title">Empowering women</p>
            <p class="caption">
              Empower female founders to leverage their skills to build
              strong tech startups from scratch </p>

          </div>
          <div class="col-lg-6">
            <a> <img src="assets\img\twa\png\Group 29708.png" class="img-dig" style="height: 140px;width: 250px;" alt=""
                data-aos="fade-down-right"></a>
                <p class="caption-title">Validating Business models</p>
            <p class="caption">
              Accelerate the transformation of
              project ideas and prototypes into validated business models, ready for market & investment </p>

          </div>
          <div class="col-lg-6">
            <a> <img src="assets\img\twa\png\Group 29689.png" class="img-dig" style="height: 120px;width: 120px;"alt="" data-aos="fade-down-left"></a>
            <p class="caption-title">Connecting African Women Founders</p>
            <p class="caption">
              Build communities and alliances to
              aggregate opportunities for women entrepreneurs and maximize impact</p>

          </div>
          <div class="col-lg-6">
            <a> <img src="assets\img\twa\png\Group 29671.png" class="img-dig" style="height: 100px;width: 145px;margin-bottom: 30px;"alt="" data-aos="fade-down-right"></a>
            <p class="caption-title">Solving the continent's problems</p>
            <p class="caption">
              Promote development of tech solution
              addressing the continents problems
            </p>

          </div>

          <div class="col-lg-12">
            <a> <img src="assets\img\twa\png\Group 29692.png" class="img-dig" style="height: 100px;width: 170px;"data-aos="fade-down-right" alt=""></a>
            <p class="caption-title">Mapping Ecosystems</p>
            <p class="caption">
              Monitor, measure, map the innovative climate for young women in the region</p>

          </div>

        </div>
      </div>
    </div>


  </section>



  <!--who are we-->
  <section id="testimonials" class="testimonials section-bg" style="background-color: #dd5057;">
    <div class="container ">

      <div class="betacube section-title">
        <h2>Who are we ?</h2>
        <p>This program was designed by Betacube and supported by UNECA</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets\img\twa\Groupe 29647.png" class="img" alt="...">
              <p class="p1">A venture builder established in 2019, that co-creates tech Startups with exceptional
                founders. It
                focused so far on fintech and mobility. Betacube collaborates closely with corporations as development
                partners for its startups as well as for corporate innovation programs.<br>
                <br>
                Betacube's core business is the creation of quality startups and securing their growth and funding
                path.<br>
                This setup allows Betacube to create startups that are connected with key VC players and create an
                incentive for Startups to move faster and focus on their product and market.<br> We work with
                exceptional
                individuals,experienced business people and tech experts to support young entrepreneurs and leading
                companies turn their big challenges into successful startups.
              </p>
              <img src="assets\img\twa\Group 308.png" class="url">
            </div>
            <div class="carousel-item">
              <img src="assets\img\twa\Groupe 296467.png" class="img1" alt="...">
              <p class="p2">United Nations Economic Commission for Africa's mission is to deliver ideas and actions for
                an
                empowered and transformed Africa; informed by the 2030 Agenda and Agenda 2063. The mission is guided by
                ECA's five new strategic directions which are:<br>
                (a) Advancing ECA's position as a premier knowledge institution that builds on its unique position and
                privilege to bring global solutions to the continent's problems and take local solution to the
                continent;<br>
                (b) Developing macroeconomic and structural policy options to accelerate economic diversification and
                job creation;<br>
                (c) Designing and implementing innovative financing models for infrastructure, and for human, physical
                and social assets for a transforming Africa;<br>
                (d) Contributing solutions to regional and transboundary challenges, with a focus on peace security and
                social inclusion as an important development nexus;<br>
                (e) Advocating Africa's position at the global level and developing regional responses as a contribution
                to global developing regional responses as a contribution to global governance issues.
              </p>
              <img src="assets\img\twa\Group 295729.png" class="url1">
            </div>

          </div>
          <br>
          <div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </section>
  <section class="section-bg">
    <div class="team container">





      <div class="container text-center">
        <h2>Team</h2>

        <div class="row">


          <div class="col" data-aos="fade-down-left">
            <a> <img src="assets/img/people/Ahmed-Hadhri.JPG" class="img-team" alt=""></a>
            <p>Ahmed Hadhri<br>Program Manager<br>ahmed.hadhri@betacube.io
            </p>
          </div>
          <div class="col" data-aos="fade-down-right">
            <a> <img src="assets/img/people/Azza-djemel.JPG" class="img-team" alt=""></a>
            <p>Azza Djemel<br>Program Assistant<br>azza.djemel@betacube.io</p>

          </div>

        </div>
      </div>

    </div>
  </section>


</main><!-- End #main -->

<app-footer></app-footer>
<button type="button" *ngIf="showBtn$ | async" class="btn btn-danger btn-floating btn-lg to-top" id="btn-back-to-top"
  (click)="gotoTop()">
  <i class="fas fa-arrow-up"></i>
</button>